                    <tr bgcolor="#fff">
                        <td valign="top" class="footer" style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-size: 16px;line-height: 26px;background: #fff;text-align: left;">
                            <table style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;">
                                <tr>
                                    <td class="inside-footer" align="center" valign="middle" style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-size: 10px;line-height: 16px;vertical-align: middle;text-align: left;width: 580px;">
                                        <div id="address" class="mktEditable">
                                            &copy; Copyright 2021 <b> CheepStock</b>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
	<style type="text/css">
    @media only screen and (max-width: 600px) {
        .main {
            width: 320px !important;
        }

        .top-image {
            width: 100% !important;
        }
        .inside-footer {
            width: 320px !important;
        }
        table[class="contenttable"] { 
            width: 320px !important;
            text-align: left !important;
        }
        td[class="force-col"] {
            display: block !important;
        }
        td[class="rm-col"] {
            display: none !important;
        }
        .mt {
            margin-top: 15px !important;
        }
        *[class].width300 {width: 255px !important;}
        *[class].block {display:block !important;}
        *[class].blockcol {display:none !important;}
        .emailButton{
            width: 100% !important;
        }
        .emailButton a {
            display:block !important;
            font-size:18px !important;
        }
    }
    </style>
    </body>
</html>