<!DOCTYPE html>
<html>
	<body>
    <table class="main contenttable" align="center" style="font-family: Helvetica;font-weight: normal;border-collapse: collapse;border: 0;margin-left: auto;margin-right: auto;padding: 0;color: #000000;background-color: white;font-size: 16px;line-height: 26px;width: 600px;">
        <tr>
            <td class="border" style="border-collapse: collapse;border: 1px solid #eeeff0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #000000;font-size: 16px;line-height: 26px;">
                <table style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;">
                    <tr>
                        <td colspan="4" valign="top" class="image-section" style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #000000;font-size: 16px;line-height: 26px;background-color: #fff;border-bottom: 4px solid #000000">
                            <a href="<%=locals.siteurl%>"><img class="top-image" src="<%=locals.siteurl%>/images/logo.png" style="height:60px;text-align: center;margin: 0 auto;line-height:1;padding: 10px;display: block;font-weight: bold;font-size: 20px;"></a>
                        </td>
                    </tr>