		<div class="footer">
    		<div class="container">
    			<div class="row col-12 p-0 pt-5 pb-5 mb-5 m-0">
    				<div class="footSec1 col-2 wow fadeInUp" data-wow-delay=".25s">
    					<img src="/images/iconwhite.png" class="iconFooter" height="auto" width="100%"/>
    				</div>
    				<div class="footSec2 col-7">
    					<div class="containerrow">
	    					<div class="containercolumn wow fadeInUp" data-wow-delay=".50s" style="width: 24%; padding-right: 20px;">
		            			<span class="footertext">Learn more</span>
		            			<div class="containercolumn" style="padding-top: 22px;">
		                			<span class="footersubtext">Plans and pricing</span>
		                			<span class="footersubtext">Free stock video</span>
		                			<span class="footersubtext">License information</span>
		                			<span class="footersubtext">Legal / Privacy</span>
		            			</div>
		        			</div>
		        			<div class="containercolumn wow fadeInUp" data-wow-delay="0.75s" style="width: 20%; padding-right: 20px;">
		            			<span class="footertext">Company</span>
		            			<div class="containercolumn" style="padding-top: 22px;">
		                			<span class="footersubtext">About us</span>
		                			<span class="footersubtext">Partnership </span>
		                			<span class="footersubtext">Sell video</span>
		            			</div>
		        			</div>
		        			<div class="containercolumn wow fadeInUp" data-wow-delay="1s" style="width: 20%; padding-right: 20px;">
		            			<span class="footertext">Support</span>
		            			<div class="containercolumn" style="padding-top: 22px;">
			                		<span class="footersubtext">+1 604 555 5555</span>
			                		<span class="footersubtext">Contact us</span>
			                		<span class="footersubtext">FAQ</span>
		    	            		<span class="footersubtext">Site map</span>
		        	    		</div>
		        			</div>
		    			</div>
    				</div>
    				<div class="footSec3 col-3">
    					<div class="containerrow">
	    					<div class="containercolumn wow fadeInUp" data-wow-delay="1.25s" style="width: 20%; padding-right: 20px;">
		            			<span class="footertext">Let’s be friends</span>
		            			<div class="containerrow socialicons" style="padding-top: 22px;justify-content: space-between;">
		                			<i class="fa fa-facebook" style="font-size: 35px; color:#fff;"></i>
		                			<i class="fa fa-instagram" style="font-size: 35px; color:#fff;"></i>
		                			<i class="fa fa-linkedin" style="font-size: 35px; color:#fff;"></i>
		            			</div>
		        			</div>
		    			</div>
    				</div>
    			</div>
    			<div style="display: flex; flex:1; padding-bottom: 14px;">
    	    		<div style="height: 0px; width: 100%; border-bottom: 0.5px solid #F4F4F4;">
	        		</div>
				</div>
    			<div class="containercolumn wow fadeInUp" data-wow-delay="1.5s" style="align-items: center; padding-bottom: 15px;">
					<span style="font-size: 13px; color:#fff;">© 2021 Cheepstock. 4K stock animation for a buck.</span>				
    			</div>
			</div>
		</div>
	</body>
</html>