<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CheepStock</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>		
		<link rel="stylesheet" type="text/css" href="/css/animate.css"/>		
		<link rel="stylesheet" type="text/css" href="/css/login_style.css"/>
		<link rel="stylesheet" type="text/css" href="/css/sweetalert.min.css"/>

		<script src="/js/jquery-3.3.1.min.js"></script>
	    <script src="/js/bootstrap.min.js"></script>
	    <script src="/js/jquery.validate.min.js"></script>
	    <script src="/js/sweetalert.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/form_style.css"/>
	    <script type="text/javascript" src="https://raw.githubusercontent.com/marioizquierdo/jquery.serializeJSON/master/jquery.serializejson.js"></script>
	</head>
	<body>
		<div class="menubar">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="center m-auto">
					<img src="/images/logo.png">
				</div>
			</nav>
		</div>