<%- include("../common/header.ejs") %>
<div class="home">
	<div class="banner">
		<div class="container">
			<div class="bannerTxt1 wow fadeInUp">
				4K stock animation for a buck.
			</div>
			<div class="bannerTxt2 wow fadeInUp" data-wow-delay="0.35s">
				Royalty-free. Unlimited use. Animated video clips.
			</div>
		</div>
	</div>

	<div class="container">
		<div class="searchBox wow fadeInUp" data-wow-delay="0.65s">
			<input type="text" name="searchBoxTxt" id="searchBoxTxt" value="" placeholder="Find Animation." />
			<img src="images/searchIcon.png"/>
		</div>
		<div class="searchBottom text-center wow fadeInUp" data-wow-delay="1s">
			Save with flexible plans to suit every budget. <b>View plans and pricing</b>
		</div>
		<div class="section1 text-center">
			<div class="secHeading wow fadeInUp" data-wow-delay="1.5s">Lorem ipsum.<br/>Find what you need for your project in our royalty-free collection.</div>
			<div class="row col-12 p-0 m-0 mt-5">
				<div class="sec1Ele col-md-4 col-sm-6 col-xs-12 pl-0">
					<div class="boxUI wow fadeInUp" data-wow-delay="0s">
						<img src="images/box1.png"/>
						<div class="text-center boxUIText">Abstract</div>
					</div>
				</div>
				<div class="sec1Ele col-md-4 col-sm-6 col-xs-12 pr-sm-0 pr-md-3">
					<div class="boxUI wow fadeInUp" data-wow-delay="0.2s">
						<img src="images/box2.png"/>
						<div class="text-center boxUIText">Business</div>
					</div>
				</div>
				<div class="sec1Ele col-md-4 col-sm-6 col-xs-12 pr-md-0 pr-sm-3 mt-md-0 mt-sm-4 pl-sm-0 pl-md-3">
					<div class="boxUI wow fadeInUp" data-wow-delay="0.4s">
						<img src="images/box3.png"/>
						<div class="text-center boxUIText">Technology</div>
					</div>
				</div>
				<div class="sec1Ele col-md-4 col-sm-6 col-xs-12 mt-4 pl-md-0 pl-sm-3 pr-sm-0 pr-md-3">
					<div class="boxUI wow fadeInUp" data-wow-delay="0.6s">
						<img src="images/box4.png"/>
						<div class="text-center boxUIText">Travel</div>
					</div>
				</div>
				<div class="sec1Ele col-md-4 col-sm-6 col-xs-12 mt-4 mt-sm-4 pl-sm-0 pl-md-3">
					<div class="boxUI wow fadeInUp" data-wow-delay="0.8s">
						<img src="images/box5.png"/>
						<div class="text-center boxUIText">Nature</div>
					</div>
				</div>
				<div class="sec1Ele col-md-4 col-sm-6 col-xs-12 mt-4 pr-0">
					<div class="boxUI wow fadeInUp" data-wow-delay="1s">
						<img src="images/box6.png"/>
						<div class="text-center boxUIText">Food</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section2 text-center mt-5">
			<div class="secHeading wow fadeInUp" data-wow-delay="0.5s">Browse all categories</div>
			<div class="row col-12 p-0 m-0 mt-5 mb-5">
				<div class="col-12 categoriesList wow fadeInUp" data-wow-delay="1s">
					<ul>
						<li>Nature and landscapes</li>
						<li>Education</li>
						<li>Special occasions</li>
						<li>Travel destinations</li>
						<li>Jobs and careers</li>
						<li>Family</li>
						<li>Fitness and wellness</li>
						<li>Architecture</li>
						<li>Pets and animals</li>
						<li>Healthcare and medicine</li>
						<li>Fashion and beauty</li>
						<li>Transportation videos</li>
						<li>Business and finance</li>
						<li>Food and drink</li>
						<li>Sports and recreation</li>
						<li>Adventure videos</li>
						<li>Science and technology</li>
						<li>Holidays and seasonal</li>
						<li>Moods and feelings</li>
						<li>4K videos</li>
					</ul>
				</div>
			</div>
		</div>		
	</div>
	<div class="section3 text-center">
		<div class="container">
			<div class="secHeading pt-5 color_white wow fadeInUp" data-wow-delay="0.5s">Staying connected during COVID-19</div>
			<div class="pt-3 pb-5 color_white wow fadeInUp" data-wow-delay="1s">Use these free images from iStock to continue sharing your stories with your audience and community despite physical distancing challenges.</div>
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12 shake_ani">
					<div class="boxUISec3 wow fadeInLeft" data-wow-delay="1s">
						<img src="images/video.png"/>
						<div class="secSubHeading">Supporting our customers</div>
						<div class="secSubContent">We've curated a selection of free video for your COVID-19 communications -- because when it comes to communicating in times liek these, the last thing you need to worry about is your budget for animations.</div>
						<div class="mt-3"><button class="siteBtn"><span>View free video</span></button></div>
					</div>
				</div>
				<div class="sec3Ele col-md-6 col-sm-12 col-xs-12 pt-sm-4 pt-md-0 shake_ani">
					<div class="boxUISec3 wow fadeInRight" data-wow-delay="1s">
						<img src="images/artist.png"/>
						<div class="secSubHeading">Artist of the Month</div>
						<div class="secSubContent">This month we're showcasing the work of Full Name, whose collection highlights the importance of spending one-on-one quality time with loved ones, while also setting aside time for at-home personal projects and creative endeavors.</div>
						<div class="mt-3"><button class="siteBtn"><span>Meet the artist</span></button></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-5 pt-5 d-sm-none d-md-block spacer"></div>
	<div class="section4 container mt-5">
		<div class="row col-md-12 p-0 m-0">
			<div class="sec4Ele col-md-6 col-sm-12 col-xs-12 contentSec pl-0 wow fadeInLeft" data-wow-delay="1s">
				<div class="secSubHeading">Are you an Animator?</div>
				<div class="secSubContent">Partner with us and start selling your work. Lorem ipsum dolor sit amet, modus decore nemore eam te, porro dictas ea sed. Per probatus sadipscing te, ne quas oratio has.</div>
				<div class="mt-4"><button class="siteBtn"><span>Get in touch</span></button></div>
			</div>
			<div class="sec4Ele col-md-6 col-sm-12 col-xs-12 pr-0 wow fadeInRight" data-wow-delay="1s">
				<div class="img_hover">
					<img src="images/sec4_image1.png" class="wid100"/>
				</div>
			</div>
		</div>
		<div class="row col-md-12 p-0 mt-5 m-0">
			<div class="sec4Ele col-md-6 col-sm-12 col-xs-12 pl-0 wow fadeInLeft" data-wow-delay="1s">
				<div class="img_hover">
					<img src="images/sec4_image2.png" class="wid100"/>
				</div>
			</div>
			<div class="sec4Ele col-md-6 col-sm-12 col-xs-12 contentSec pr-0 wow fadeInRight" data-wow-delay="1s">
				<div class="secSubHeading">Get free videos</div>
				<div class="secSubContent">Each week, our experts select a video from our exclusive collection and make it free to download, with free illustrations and video clips available monthly.
				</div>
				<div class="mt-4"><button class="siteBtn"><span>View the latest free files</span></button></div>
			</div>			
		</div>
	</div>

	<div class="container">
		<div class="col-12 separator p-0"></div>
	</div>

	<div class="section5 container mb-md-5 pb-md-5 mb-sm-2 pb-sm-2">
		<div class="row col-12 p-0 m-0 mt-5">
			<div class="sec5Ele col-md-4 col-sm-6 col-xs-12 pl-0">
				<div class="boxUI wow fadeInLeft" data-wow-delay="1.5s">
					<img src="images/bottom1.png"/>
					<div class="text-center boxUIText">Popular categories</div>
				</div>
			</div>
			<div class="sec5Ele col-md-4 col-sm-6 col-xs-12 pr-sm-0 pr-md-3">
				<div class="boxUI wow fadeInUp" data-wow-delay="1.5s">
					<img src="images/bottom2.png"/>
					<div class="text-center boxUIText">Latest animations</div>
				</div>
			</div>
			<div class="sec5Ele col-md-4 col-sm-6 col-xs-12 pr-md-0 pr-sm-3 mt-md-0 mt-sm-4 pl-sm-0 pl-md-3">
				<div class="boxUI wow fadeInRight" data-wow-delay="1.5s">
					<img src="images/bottom3.png"/>
					<div class="text-center boxUIText">Cheepstock Picks</div>
				</div>
			</div>
		</div>
	</div>

	<div class="containercolumn footerBar wow fadeInUp" data-wow-delay="0.5s">
		<span class="layertext">Incredible stock. Flexible pricing. <b>Buy credits</b> or <b>subscribe</b> today.</span>
    </div>
</div>
<%- include("../common/footer.ejs") %>